.signup{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    background:linear-gradient(45deg, #fefae0, #03045e);
    width: 100vw;
    height: 100vh;
    font-family: 'Times New Roman', Times, serif;
    
}
.form{
    padding: 0.4rem;
    height: 80vh;
    width: 40vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color:#807F9F;
    border-radius: 6px;
}
.inputContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0.2rem;
}
.input{
    
    border-color: #ccc;
    border-width: 1px;
    border-radius: 8px;
    font-size: 16px;
    
}
.button{
    background-color: green;
    width: 70px;
    border-radius: 8px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 16px;
    margin-bottom: 12px;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    align-self: center;
}
.buttondisabled{
    background-color: red;
    width: 70px;
    border-radius: 8px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 16px;
    margin-bottom: 12px;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    align-self: center;
}
.error{
    color: red;
    font-size: 15px;
    margin-bottom: 12px;
}

.btns{
    display: flex;

}